<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="Day" type="com.azarenka.domain.Day"/>
        <typeAlias alias="Menu" type="com.azarenka.domain.Menu"/>
        <typeAlias alias="User" type="com.azarenka.domain.User"/>
        <typeAlias alias="Booker" type="com.azarenka.domain.Booker"/>
    </typeAliases>
</configuration>
