<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:b="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans.xsd
             http://www.springframework.org/schema/security
             http://www.springframework.org/schema/security/spring-security.xsd">

    <http pattern="/resources/static-content" security="none"/>
    <http pattern="/webjars/**" security="none"/>

    <http>
        <intercept-url pattern="/" access="permitAll()"/>
        <intercept-url pattern="/login" access="permitAll()"/>
        <intercept-url pattern="/activate/*" access="permitAll()"/>
        <intercept-url pattern="/registerUser/" access="permitAll()"/>
        <intercept-url pattern="/liquibase/DDL" access="isAuthenticated()"/>
        <intercept-url pattern="/**" access="isAuthenticated()"/>
        <form-login login-page="/" default-target-url="/start"
                    authentication-failure-url="/?error=true"
                    always-use-default-target="true"
                    login-processing-url="/spring_security_check"/>
        <logout logout-success-url="/login"/>

        <!--<remember-me
                key="myAppKey"
                user-service-ref="userService"
                token-repository-ref="tokenRepository"
                remember-me-cookie="remember-me-cookieName"
                remember-me-parameter="remember-me-parameter"
                token-validity-seconds="1800"/>
-->
        <csrf disabled="true"/>
    </http>
    <beans:import resource="classpath:dataBase.xml"/>
    <beans:import resource="classpath:service-context.xml"/>
    <b:bean id="tokenRepository"
            class="org.springframework.security.web.authentication.rememberme.JdbcTokenRepositoryImpl">
        <b:property name="dataSource" ref="dataSource"/>
    </b:bean>

    <authentication-manager>
        <authentication-provider user-service-ref="userService">
            <password-encoder ref="encoder"/>
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="encoder"
                class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
    </beans:bean>


</beans:beans>
